@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    line-height: 1.6;
}
body
{
    background-color: brown;
  
}
#logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;    
    color: white;
    border: solid red;
    border-radius: 50%;
    width: 40vh;
    height: 25vh;
    position: absolute;
    top: 2%;
    left: 40%;


}

#container
{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,minmax(auto,1fr));
    background-color: violet;
    height: 70vh;

}
#container div
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.integrientlist
{
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: white;
}

#buttonslist
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}
#buy
{
    background-color: green;
}
#buttonslist button
{
    background-color: violet;
    padding:4px;
    border-radius: 20%;
    color: white;
    font-size: 1.1em;
    font-weight: bolder;


}


#buttonslist button:last-child
{
    background-color: green;
}
#candle img
{
    height: 8vh;
    padding: 0;
    position: relative;
    top: 30%;
}


.firstlayer,.secondlayer,.thridlayer,.fourthlayer,.lastlayer
{
    border-radius: 25%;
    height: 5vh;
    padding: 0;


}
.firstlayer
{
    width: 12vh;
    background-color: rgb(231, 151, 3);
}


.secondlayer
{
    width: 17vh;
    background-color: rgb(224, 32, 32);
}
.thridlayer
{
    width: 22vh;
    background-color: rgb(255, 255, 255);
}
.fourthlayer
{
    width: 27vh;
    background-color: rgb(255, 255, 0)
}
.lastlayer
{
    width: 32vh;
    background-color: rgb(248, 10, 169);
}
#cost
{
    color: rgb(9, 248, 9);
    
 }



/* Fill your code*/
